{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Catalogue",
    "description" : "The Catalogue API provides a set of endpoints for accessing the TIDAL metadata catalogue: albums, artists, tracks, and videos",
    "contact" : {
      "url" : "https://github.com/orgs/tidal-music/discussions"
    },
    "version" : "1.0.0",
    "x-url-compatible-spec-id" : "catalogue",
    "x-spec-default-endpoint-url-unique-name" : "get-albums-by-barcode-id",
    "x-spec-public-oas-location" : "https://developer.tidal.com/apiref/api-specifications/api-public-catalogue/tidal-catalog-openapi-3.0.json"
  },
  "externalDocs" : {
    "description" : "TIDAL Developer Documentation",
    "url" : "https://developer.tidal.com/documentation"
  },
  "servers" : [ {
    "url" : "https://openapi.tidal.com",
    "description" : "Production"
  } ],
  "tags" : [ {
    "name" : "Album API",
    "description" : "Album-related endpoints"
  }, {
    "name" : "Artist API",
    "description" : "Artist-related endpoints"
  }, {
    "name" : "Track API",
    "description" : "Track-related endpoints"
  }, {
    "name" : "Video API",
    "description" : "Video-related endpoints"
  } ],
  "paths" : {
    "/videos" : {
      "get" : {
        "tags" : [ "Video API" ],
        "summary" : "Get multiple videos",
        "description" : "Retrieve a list of video details by TIDAL video ids.",
        "operationId" : "getVideosByIds",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "Comma-separated list of TIDAL video ids",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : 75623239
            }
          },
          "example" : 75623239
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "207" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Videos Multi-Status Response"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-videos-by-ids"
        }
      }
    },
    "/videos/{id}" : {
      "get" : {
        "tags" : [ "Video API" ],
        "summary" : "Get single video",
        "description" : "Retrieve video details by TIDAL video id.",
        "operationId" : "getVideo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL video id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 75623239
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Video Resource Aware Response"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable due to demand from the right-holders to prohibit access to the resource.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unavailable For Legal Reasons" : {
                    "$ref" : "#/components/examples/Unavailable For Legal Reasons"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-video"
        }
      }
    },
    "/tracks" : {
      "get" : {
        "tags" : [ "Track API" ],
        "summary" : "Get multiple tracks",
        "description" : "Retrieve a list of track details by TIDAL track ids.",
        "operationId" : "getTracksByIds",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "Comma-separated list of TIDAL owned track ids",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : 75413012
            }
          },
          "example" : "251380837,251380838"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "207" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tracks Multi-Status Response"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-tracks-by-ids"
        }
      }
    },
    "/tracks/{trackId}/similar" : {
      "get" : {
        "tags" : [ "Track API" ],
        "summary" : "Get similar tracks for the given track",
        "description" : "This endpoint can be used to retrieve a list of tracks similar to the given track.",
        "operationId" : "getSimilarTracks",
        "parameters" : [ {
          "name" : "trackId",
          "in" : "path",
          "description" : "TIDAL id of the track",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 251380837
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Pagination offset (in number of items)",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          },
          "example" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Pagination Aware Similar Track Response"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable due to demand from the right-holders to prohibit access to the resource.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unavailable For Legal Reasons" : {
                    "$ref" : "#/components/examples/Unavailable For Legal Reasons"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-similar-tracks"
        }
      }
    },
    "/tracks/{id}" : {
      "get" : {
        "tags" : [ "Track API" ],
        "summary" : "Get single track",
        "description" : "Retrieve track details by TIDAL track id.",
        "operationId" : "getTrack",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL track id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 251380837
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Track Resource Aware Response"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable due to demand from the right-holders to prohibit access to the resource.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unavailable For Legal Reasons" : {
                    "$ref" : "#/components/examples/Unavailable For Legal Reasons"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-track"
        }
      }
    },
    "/tracks/byIsrc" : {
      "get" : {
        "tags" : [ "Track API" ],
        "summary" : "Get tracks by ISRC",
        "description" : "Retrieve a list of track details by ISRC",
        "operationId" : "getTracksByIsrc",
        "parameters" : [ {
          "name" : "isrc",
          "in" : "query",
          "description" : "Valid ISRC code (usually comprises 12 alphanumeric characters)",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "USSM12209515"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Bad Request Error Response" : {
                    "$ref" : "#/components/examples/Bad Request Error Response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Resource Not Found Error Response" : {
                    "$ref" : "#/components/examples/Resource Not Found Error Response"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Internal Server Error Response" : {
                    "$ref" : "#/components/examples/Internal Server Error Response"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Unsupported Media Type Error Response" : {
                    "$ref" : "#/components/examples/Unsupported Media Type Error Response"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Not Acceptable Error Response" : {
                    "$ref" : "#/components/examples/Not Acceptable Error Response"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Errors Response"
                },
                "examples" : {
                  "Method Not Supported Error Response" : {
                    "$ref" : "#/components/examples/Method Not Supported Error Response"
                  }
                }
              }
            }
          },
          "207" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.tidal.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tracks Multi-Status Response"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2 Client Credentials grant flow" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-tracks-by-isrc"
        }
      }
    },
    "/artists" : {
      "get" : {
        "tags" : [ "Artist API" ],
        "summary" : "Get multiple artists",
        "description" : "Retrieve a list of artist details by TIDAL artist ids.",
        "operationId" : "getArtistsByIds",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "Comma-separated list of TIDAL artist ids",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : 7804
            }
          },
          "example" : "1566,7804"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.tidal.v1+json" : { }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
[...]
